<?xml version="1.0" encoding="utf-8"?>
<Media Key="84b37d23-df23-4281-8295-973d72ee7a52" Alias="Ford" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ford</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-24T15:02:34</CreateDate>
    <NodeName Default="Ford" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <AltText>
      <Value><![CDATA[En av våra första]]></Value>
    </AltText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/vs1pkmsk/t-ford.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>