<?xml version="1.0" encoding="utf-8"?>
<Media Key="16719ae3-e6f9-4f7a-a4e1-2cec2b7cb059" Alias="hotRod" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/hotRod</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-28T15:48:41</CreateDate>
    <NodeName Default="hotRod" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Het som fan]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/nridpieq/hotrod.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>