<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1a4f11d-ae3c-4bd3-9b65-2e88a09b1df9" Alias="porsche" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/porsche</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-29T17:57:29</CreateDate>
    <NodeName Default="porsche" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Green and nice]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/si3pev0v/porsche.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>