<?xml version="1.0" encoding="utf-8"?>
<Media Key="d86aee20-60a4-42ac-a67d-2c3053a301a1" Alias="Record" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Record</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-24T21:15:31</CreateDate>
    <NodeName Default="Record" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <AltText>
      <Value><![CDATA[Patina]]></Value>
    </AltText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/v2scy1wn/opelrecord.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>