<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b9749ce-a5dc-4f97-850e-c6c412b076bb" Alias="Saab (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Saab1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-24T16:02:20</CreateDate>
    <NodeName Default="Saab (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/igbndhnv/saabsonnet.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>