<?xml version="1.0" encoding="utf-8"?>
<Media Key="216614f9-96ea-4919-a28e-42471a8a1f7c" Alias="Stepside" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Stepside</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-29T17:29:36</CreateDate>
    <NodeName Default="Stepside" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[hairy]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/o1pcbf2d/stepside.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>