<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b66ecf1-db10-4434-9586-67f48ff279aa" Alias="Tesla" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Tesla</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-24T15:02:49</CreateDate>
    <NodeName Default="Tesla" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <AltText>
      <Value><![CDATA[Men jäklar vad den ser snabb ut]]></Value>
    </AltText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/pytcbllz/tesla-model-3-uplift-red.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>