<?xml version="1.0" encoding="utf-8"?>
<Media Key="23d27299-3ae5-4da2-b0c5-2a9a02af9c85" Alias="Tesla" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Tesla</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-28T13:27:24</CreateDate>
    <NodeName Default="Tesla" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[nice in red]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/c02jjfmm/tesla-model-3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>