<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb810b17-eb82-4729-9dbf-c7a59698891c" Alias="test" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/test</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-26T11:35:45</CreateDate>
    <NodeName Default="test" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <AltText>
      <Value><![CDATA[]]></Value>
    </AltText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/tdanotpl/paer-boman.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>