<?xml version="1.0" encoding="utf-8"?>
<Media Key="485294e5-d620-4d79-9f14-2e8bdc2e94ab" Alias="volvo940" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/volvo940</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-24T15:21:13</CreateDate>
    <NodeName Default="volvo940" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <AltText>
      <Value><![CDATA[Vinnare i rally VM]]></Value>
    </AltText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/njpbj5sj/940-sedan-l.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>