<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d15bbbc-32d8-4e6c-b38f-f4259130aa49" Alias="CarsCollection" Level="2">
  <Info>
    <Parent Key="9a1d74e5-6f17-4e10-8ce9-cdce20ed97d9">HomePage</Parent>
    <Path>/HomePage/CarsCollection</Path>
    <Trashed>false</Trashed>
    <ContentType>carsCollection</ContentType>
    <CreateDate>2024-12-22T14:42:36</CreateDate>
    <NodeName Default="CarsCollection" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <carsCollectionText>
      <Value><![CDATA[Detta är samlingesidan för alla bilar]]></Value>
    </carsCollectionText>
  </Properties>
</Content>