<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e4d384b-914e-487d-b7db-920661a2be51" Alias="Cheva" Level="3">
  <Info>
    <Parent Key="3d15bbbc-32d8-4e6c-b38f-f4259130aa49">CarsCollection</Parent>
    <Path>/HomePage/CarsCollection/Cheva</Path>
    <Trashed>false</Trashed>
    <ContentType>car</ContentType>
    <CreateDate>2024-12-29T17:14:58</CreateDate>
    <NodeName Default="Cheva" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <brand>
      <Value><![CDATA[Cheva]]></Value>
    </brand>
    <image>
      <Value><![CDATA[[
  {
    "key": "f9442c5c-88a8-4f18-9beb-52a70725d215",
    "mediaKey": "b06f2651-cc5e-4ed0-a099-4010882a8b46",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <model>
      <Value><![CDATA[Pickup]]></Value>
    </model>
    <year>
      <Value><![CDATA[1956]]></Value>
    </year>
  </Properties>
</Content>