<?xml version="1.0" encoding="utf-8"?>
<Content Key="4375407b-c18f-4df1-a281-012e1ec0cec1" Alias="Contact" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Contact</Path>
    <Trashed Parent="9a1d74e5-6f17-4e10-8ce9-cdce20ed97d9">true</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-01-06T21:14:48</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pageName>
      <Value><![CDATA[Kontaktsidan]]></Value>
    </pageName>
  </Properties>
</Content>