<?xml version="1.0" encoding="utf-8"?>
<Content Key="f309dc98-dfcc-451e-8447-5e12ae81f75c" Alias="ContactPage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-01-06T21:34:06</CreateDate>
    <NodeName Default="ContactPage" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pageName>
      <Value><![CDATA[kolla lite]]></Value>
    </pageName>
  </Properties>
</Content>