<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e6e0b9b-8ec1-4923-a4a9-37b68549dfaf" Alias="FordModelT" Level="3">
  <Info>
    <Parent Key="3d15bbbc-32d8-4e6c-b38f-f4259130aa49">CarsCollection</Parent>
    <Path>/HomePage/CarsCollection/FordModelT</Path>
    <Trashed>false</Trashed>
    <ContentType>car</ContentType>
    <CreateDate>2024-12-22T14:43:26</CreateDate>
    <NodeName Default="FordModelT" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <brand>
      <Value><![CDATA[Ford]]></Value>
    </brand>
    <image>
      <Value><![CDATA[[
  {
    "key": "460f076b-dad6-4678-ba59-93901a112156",
    "mediaKey": "84b37d23-df23-4281-8295-973d72ee7a52",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <model>
      <Value><![CDATA[Model T]]></Value>
    </model>
    <year>
      <Value><![CDATA[1921]]></Value>
    </year>
  </Properties>
</Content>