<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c8ceaff-0659-4fa2-a8df-c6059fbc65eb" Alias="OpelRecord" Level="3">
  <Info>
    <Parent Key="3d15bbbc-32d8-4e6c-b38f-f4259130aa49">CarsCollection</Parent>
    <Path>/HomePage/CarsCollection/OpelRecord</Path>
    <Trashed>false</Trashed>
    <ContentType>car</ContentType>
    <CreateDate>2024-12-23T12:49:47</CreateDate>
    <NodeName Default="OpelRecord" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <brand>
      <Value><![CDATA[Opel]]></Value>
    </brand>
    <image>
      <Value><![CDATA[[
  {
    "key": "a80545ae-c01e-450d-b2b8-449b66dea7f7",
    "mediaKey": "d86aee20-60a4-42ac-a67d-2c3053a301a1",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <model>
      <Value><![CDATA[Record]]></Value>
    </model>
    <year>
      <Value><![CDATA[1979]]></Value>
    </year>
  </Properties>
</Content>