<?xml version="1.0" encoding="utf-8"?>
<Content Key="be9d885d-a40f-4903-96f8-d8f7a03d4410" Alias="Porsche" Level="3">
  <Info>
    <Parent Key="3d15bbbc-32d8-4e6c-b38f-f4259130aa49">CarsCollection</Parent>
    <Path>/HomePage/CarsCollection/Porsche</Path>
    <Trashed>false</Trashed>
    <ContentType>car</ContentType>
    <CreateDate>2024-12-29T17:59:43</CreateDate>
    <NodeName Default="Porsche" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <brand>
      <Value><![CDATA[Porsche]]></Value>
    </brand>
    <image>
      <Value><![CDATA[[
  {
    "key": "e874555a-aca1-4b47-88a1-475b44254014",
    "mediaKey": "e1a4f11d-ae3c-4bd3-9b65-2e88a09b1df9",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <model>
      <Value><![CDATA[911]]></Value>
    </model>
    <year>
      <Value><![CDATA[2024]]></Value>
    </year>
  </Properties>
</Content>