<?xml version="1.0" encoding="utf-8"?>
<Content Key="e612a7eb-74e6-4c10-9d84-d6e97815d0ad" Alias="SaabSonnet" Level="3">
  <Info>
    <Parent Key="3d15bbbc-32d8-4e6c-b38f-f4259130aa49">CarsCollection</Parent>
    <Path>/HomePage/CarsCollection/SaabSonnet</Path>
    <Trashed>false</Trashed>
    <ContentType>car</ContentType>
    <CreateDate>2024-12-22T21:33:23</CreateDate>
    <NodeName Default="SaabSonnet" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <brand>
      <Value><![CDATA[Saab]]></Value>
    </brand>
    <image>
      <Value><![CDATA[[
  {
    "key": "ab9dc85c-4371-4376-a001-0b71dbef6ee9",
    "mediaKey": "128b5fb6-3f57-48db-b559-938a1e9589a2",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <model>
      <Value><![CDATA[Sonnet]]></Value>
    </model>
    <year>
      <Value><![CDATA[1972]]></Value>
    </year>
  </Properties>
</Content>