<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff06e3cb-9d8f-4cd5-86dd-19349c5b0008" Alias="SettingsPage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SettingsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-12-17T08:31:44</CreateDate>
    <NodeName Default="SettingsPage" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <companyAdress>
      <Value><![CDATA[Tallbacksvägen 3A]]></Value>
    </companyAdress>
    <companyName>
      <Value><![CDATA[Hasses kebab och frisör]]></Value>
    </companyName>
  </Properties>
</Content>