<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c73bb37-6bc4-4b5e-9863-65c96e3a2889" Alias="TeslaModel3" Level="3">
  <Info>
    <Parent Key="3d15bbbc-32d8-4e6c-b38f-f4259130aa49">CarsCollection</Parent>
    <Path>/HomePage/CarsCollection/TeslaModel3</Path>
    <Trashed>false</Trashed>
    <ContentType>car</ContentType>
    <CreateDate>2024-12-22T14:43:53</CreateDate>
    <NodeName Default="TeslaModel3" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <brand>
      <Value><![CDATA[Tesla]]></Value>
    </brand>
    <image>
      <Value><![CDATA[[
  {
    "key": "7dcb3cf9-0620-4131-aba4-b6ed4f6bdd18",
    "mediaKey": "1b66ecf1-db10-4434-9586-67f48ff279aa",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <model>
      <Value><![CDATA[Model 3]]></Value>
    </model>
    <year>
      <Value><![CDATA[2021]]></Value>
    </year>
  </Properties>
</Content>