<?xml version="1.0" encoding="utf-8"?>
<Content Key="0583fd13-9979-47ec-b09c-28b1834b7259" Alias="Vintage" Level="3">
  <Info>
    <Parent Key="3d15bbbc-32d8-4e6c-b38f-f4259130aa49">CarsCollection</Parent>
    <Path>/HomePage/CarsCollection/Vintage</Path>
    <Trashed>false</Trashed>
    <ContentType>car</ContentType>
    <CreateDate>2025-01-06T21:35:13</CreateDate>
    <NodeName Default="Vintage" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <brand>
      <Value><![CDATA[Opel]]></Value>
    </brand>
    <image>
      <Value><![CDATA[[
  {
    "key": "54aee764-5728-48f8-a8bc-105516764f45",
    "mediaKey": "216614f9-96ea-4919-a28e-42471a8a1f7c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <model>
      <Value><![CDATA[Zephyr]]></Value>
    </model>
    <year>
      <Value><![CDATA[1950]]></Value>
    </year>
  </Properties>
</Content>