<?xml version="1.0" encoding="utf-8"?>
<Content Key="0583fd13-9979-47ec-b09c-28b1834b7259" Alias="Vintage" Level="3">
  <Info>
    <Parent Key="3d15bbbc-32d8-4e6c-b38f-f4259130aa49">CarsCollection</Parent>
    <Path>/HomePage/CarsCollection/Vintage</Path>
    <Trashed>false</Trashed>
    <ContentType>car</ContentType>
    <CreateDate>2025-01-06T21:35:13</CreateDate>
    <NodeName Default="Vintage" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <boughtYear>
      <Value><![CDATA[]]></Value>
    </boughtYear>
    <brand>
      <Value><![CDATA[Opel]]></Value>
    </brand>
    <horsePower>
      <Value><![CDATA[]]></Value>
    </horsePower>
    <image>
      <Value><![CDATA[[
  {
    "key": "54aee764-5728-48f8-a8bc-105516764f45",
    "mediaKey": "216614f9-96ea-4919-a28e-42471a8a1f7c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <imageCarusell>
      <Value><![CDATA[[
  {
    "key": "c06dabe1-a4f9-4929-a9ea-930af9da713a",
    "mediaKey": "16719ae3-e6f9-4f7a-a4e1-2cec2b7cb059",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "75d46e57-e353-4d42-8a71-a3c04e8ae3d4",
    "mediaKey": "b06f2651-cc5e-4ed0-a099-4010882a8b46",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "20333422-be5b-48df-9828-60b5edbba844",
    "mediaKey": "216614f9-96ea-4919-a28e-42471a8a1f7c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imageCarusell>
    <miscInfo>
      <Value><![CDATA[]]></Value>
    </miscInfo>
    <model>
      <Value><![CDATA[Zephyr]]></Value>
    </model>
    <year>
      <Value><![CDATA[1950]]></Value>
    </year>
  </Properties>
</Content>