<?xml version="1.0" encoding="utf-8"?>
<Content Key="3303bee3-c421-488e-b310-468459ece65f" Alias="Volvo940" Level="3">
  <Info>
    <Parent Key="3d15bbbc-32d8-4e6c-b38f-f4259130aa49">CarsCollection</Parent>
    <Path>/HomePage/CarsCollection/Volvo940</Path>
    <Trashed>false</Trashed>
    <ContentType>car</ContentType>
    <CreateDate>2024-12-22T20:28:25</CreateDate>
    <NodeName Default="Volvo940" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <brand>
      <Value><![CDATA[Volvo]]></Value>
    </brand>
    <image>
      <Value><![CDATA[[
  {
    "key": "7b9562ab-dc49-4f30-9ce4-e765c577dd51",
    "mediaKey": "485294e5-d620-4d79-9f14-2e8bdc2e94ab",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <model>
      <Value><![CDATA[940]]></Value>
    </model>
    <year>
      <Value><![CDATA[1996]]></Value>
    </year>
  </Properties>
</Content>