<?xml version="1.0" encoding="utf-8"?>
<Content Key="3303bee3-c421-488e-b310-468459ece65f" Alias="Volvo940" Level="3">
  <Info>
    <Parent Key="3d15bbbc-32d8-4e6c-b38f-f4259130aa49">CarsCollection</Parent>
    <Path>/HomePage/CarsCollection/Volvo940</Path>
    <Trashed>false</Trashed>
    <ContentType>car</ContentType>
    <CreateDate>2024-12-22T20:28:25</CreateDate>
    <NodeName Default="Volvo940" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <boughtYear>
      <Value><![CDATA[2021]]></Value>
    </boughtYear>
    <brand>
      <Value><![CDATA[Volvo]]></Value>
    </brand>
    <horsePower>
      <Value><![CDATA[149]]></Value>
    </horsePower>
    <image>
      <Value><![CDATA[[
  {
    "key": "07a117e1-f8a0-49cb-be6f-16140f1813eb",
    "mediaKey": "d864e22a-a3f5-4e8f-9f31-324b7e46c633",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <model>
      <Value><![CDATA[940]]></Value>
    </model>
    <year>
      <Value><![CDATA[1996]]></Value>
    </year>
  </Properties>
</Content>